<div id="divpdf">

    <div class="container" id="containerpdf" name="containerpdf">
        <div class="mb-3">
            <div class="col-xxl">
                <div class="card">
                    <div class="form-group">

                        <font face="DM Sans, Arial, system-ui">
                            <table style="border-collapse: collapse; width: 100%;">

                                <tr
                                    style=" padding-left: 10px; padding-right: 10px; border: 1px solid black; font-weight: bold;font-size: 18px; background-color: #d9d9d9;">
                                    <td>PLANEJAMENTO PRODUÇÕES MULTIPLATAFORMA</td>
                                </tr>
                                <tr style="border: 1px solid black;">
                                    <td><b>TÍTULO:</b> MANIFESTÇÃO ANISTIA</td>
                                </tr>
                                <tr style="border: 1px solid black;">
                                    <td><b>DATA:</b> 07.05.2025</td>
                                </tr>
                                <tr style="border: 1px solid black;">
                                    <td><b>HORÁRIO:</b> 15:00 ATÉ 20:00</td>
                                </tr>
                                <tr style="border: 1px solid black;">
                                    <td><b>LOCAL:</b> Saída da Torre de TV- Brasília</td>
                                </tr>
                                <tr style="border: 1px solid black;">
                                    <td><b>ORIGEM DO EVENTO:</b> x Conteúdo ----- Comercial ---- Marketing</td>
                                </tr>
                                <tr style="border: 1px solid black;">
                                    <td><b>COPIADOS:</b> <br>
                                        <span style="color: #0563c1;">
                                            mariaclaudia@itatiaia.com.br;
                                            fernandarodrigues@itatiaia.com.br;
                                            jacquelinemoura@itatiaia.com.br;
                                            candidohenrique@itatiaia.com.br;
                                            juniormoreira@itatiaia.com.br;
                                            marinaborges@itatiaia.com.br;
                                            allancarvalho@itatiaia.com.br;
                                            cidaquintão@itatiaia.com.br;
                                            luizasegatto@itatiaia.com.br;
                                            cassiacristina@itatiaia.com.br;
                                            fernandapaes@itatiaia.com.br;
                                            armando@oliveira.com.br;
                                            luizlima@itatiaia.com.br
                                        </span>
                                    </td>
                                </tr>
                                <tr style="border: 1px solid black;">
                                    <td><b>DIRETRIZ DIREÇÃO:</b> <br> Já fizemos algumas manifestações do tipo, vamos
                                        seguir o mesmo tom. Colocar as falas das pessoas, sem - em qualquer uma das
                                        nossas plataformas adjetivar ou adotar qualquer artifício que possa sugerir
                                        opinião</td>
                                </tr>
                                <tr style="border: 1px solid black;">
                                    <td><b>NO DIA DO EVENTO</b> <br>
                                        <b>PLATAFORMA</b> <br>
                                        Noticiários: Entradas com os repórteres a partir do noticiário de 15h

                                        Plantão da Cidade: Vamos fazer entradas ao vivo com os repórteres

                                        Jornal Noite:
                                        <br>
                                        <b>NO DIAL</b> <br>
                                        No Digital : penso que a mesma coisa das coberturas anteriores.

                                        No vídeo : Não vamos fazer transmissão de Live do evento. Assim como nos
                                        anteriores a ideia seriam os cortes e vídeos autorais

                                        feitos pela reportagem local.

                                        No Conversa de Redação do dia seguinte: tentar colocar a Edilene na mesa
                                    </td>
                                </tr>
                                <tr style="border: 1px solid black;">
                                    <td><b>ANTES DO EVENTO:</b> <br>

                                        Acho que não devemos fazer nada demais, mas, vale matéria falando que vai ter no
                                        Jornal, IA do dia e nas plataformas digitais.</td>
                                </tr>
                                <tr style="border: 1px solid black;">
                                    <td><b>LINHA EDITORIAL:</b> <br> Cobrir o fato em si. Tantas pessoas, tal estrutura,
                                        quais nomes
                                        de peso estão, colocar no ar os relatos

                                        pertinentes. Não dar espaço para agressividade e nem para palaques pessoais.
                                    </td>
                                </tr>
                                <tr style="border: 1px solid black;">
                                    <td><b>DIVULGAÇÃO:</b> <br>

                                        PADRÃO

                                        Podemos divulgar a qualquer momento, desde que estejam claras as informações da
                                        cobertura. Cada área deve cuidar do desdobramento com a equipe, assim como
                                        esclarecer dúvidas</td>
                                </tr>
                                <tr
                                    style=" padding-left: 10px; padding-right: 10px; border: 1px solid black; font-weight: bold;">
                                    <td>TEM EMBARGO PARA DIVULGAÇÃO NÃO</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                </tr>
                            </table>

                            <table style="border-collapse: collapse; width: 100%;">
                                <tr
                                    style=" padding-left: 10px; padding-right: 10px; border: 1px solid black; font-weight: bold; font-size: 18px; background-color: #d9d9d9;">
                                    <td>PLANEJAMENTO DETALHADO OBRIGATÓRIA EQUIPE CONTEÚDO – COBERTURA EXTERNA</td>
                                </tr>
                            </table>

                            <table style="border-collapse: collapse; width: 100%;">

                                <tr style="border: 1px solid black;">
                                    <td>&nbsp;</td>
                                </tr>
                                <tr style="border: 1px solid black;">
                                    <td>&nbsp;</td>
                                </tr>
                                <tr style="border: 1px solid black; background-color: #d9d9d9;">
                                    <td
                                        style=" padding-left: 10px; padding-right: 10px; border: 1px solid black; text-align: center; font-weight: bold;">
                                        SETORES
                                    </td>
                                    <td
                                        style=" padding-left: 10px; padding-right: 10px; border: 1px solid black; text-align: center; font-weight: bold;">
                                        CONTEÚDO
                                    </td>
                                    <td
                                        style=" padding-left: 10px; padding-right: 10px; border: 1px solid black; text-align: center; font-weight: bold;">
                                        PRODUÇÃO
                                    </td>
                                    <td
                                        style=" padding-left: 10px; padding-right: 10px; border: 1px solid black; text-align: center; font-weight: bold;">
                                        ESCALA
                                    </td>
                                    <td
                                        style=" padding-left: 10px; padding-right: 10px; border: 1px solid black; text-align: center; font-weight: bold;">
                                        LOGÍSTICA
                                    </td>
                                    <td
                                        style=" padding-left: 10px; padding-right: 10px; border: 1px solid black; text-align: center; font-weight: bold;">
                                        OUTROS
                                    </td>
                                </tr>

                                <tr style="border: 1px solid black;">
                                    <td style=" padding-left: 10px; padding-right: 10px; border: 1px solid black;">
                                        RÁDIO<br>

                                        Coordenação:

                                        Fernanda

                                        Rodrigues

                                        Jacqueline

                                        Moura

                                        Amanda

                                        Carvalho
                                    </td>
                                    <td style=" padding-left: 10px; padding-right: 10px;  border: 1px solid black;">
                                        - CONTEÚDO PROGRAMAÇÃO NORMAL <br> 1) Jornal da Itatiaia Matéria da reportagem
                                        de
                                        Brasília- Temos que demandar! <br> 2) IA Matéria falando do evento ou já vivo do
                                        local? <br> 3) Chamada Geral Entrada ao vivo do local <br> 4) Plantão da Cidade
                                        Entradas
                                        ao vivo do local <br> 5) Jornal Noite Matéria sobre o a manifestação <br> 6)JI1
                                        do dia
                                        08
                                        Reportagem de BSB fecha matéria
                                    </td>
                                    <td
                                        style=" padding-left: 10px; padding-right: 10px; text-align: center; border: 1px solid black;">

                                    </td>

                                    <td
                                        style=" padding-left: 10px; padding-right: 10px; text-align: center; border: 1px solid black;">
                                        Coordenação coloca a escala do rádio
                                    </td>

                                    <td
                                        style=" padding-left: 10px; padding-right: 10px; text-align: center; border: 1px solid black;">

                                    </td>

                                    <td
                                        style=" padding-left: 10px; padding-right: 10px; text-align: center; border: 1px solid black;">
                                        CONVIDADOS DOS PROGRAMAS - Teremos convidados especiais por causa da
                                        manifestação?
                                    </td>
                                </tr>

                                <tr style="border: 1px solid black;">
                                    <td style=" padding-left: 10px; padding-right: 10px; border: 1px solid black;">
                                        PORTAL<br>

                                        Coordenação:
                                    </td>
                                    <td style=" padding-left: 10px; padding-right: 10px;  border: 1px solid black;">

                                    </td>
                                    <td
                                        style=" padding-left: 10px; padding-right: 10px; text-align: center; border: 1px solid black;">

                                    </td>

                                    <td
                                        style=" padding-left: 10px; padding-right: 10px; text-align: center; border: 1px solid black;">
                                        Coordenação digital coloca
                                    </td>

                                    <td
                                        style=" padding-left: 10px; padding-right: 10px; text-align: center; border: 1px solid black;">

                                    </td>

                                    <td
                                        style=" padding-left: 10px; padding-right: 10px; text-align: center; border: 1px solid black;">

                                    </td>
                                </tr>

                                <tr style="border: 1px solid black;">
                                    <td style=" padding-left: 10px; padding-right: 10px; border: 1px solid black;">
                                        REDES<br>

                                        Coordenação:
                                    </td>
                                    <td style=" padding-left: 10px; padding-right: 10px;  border: 1px solid black;">

                                    </td>
                                    <td
                                        style=" padding-left: 10px; padding-right: 10px; text-align: center; border: 1px solid black;">

                                    </td>

                                    <td
                                        style=" padding-left: 10px; padding-right: 10px; text-align: center; border: 1px solid black;">
                                        Coordenação digital coloca
                                    </td>

                                    <td
                                        style=" padding-left: 10px; padding-right: 10px; text-align: center; border: 1px solid black;">

                                    </td>

                                    <td
                                        style=" padding-left: 10px; padding-right: 10px; text-align: center; border: 1px solid black;">

                                    </td>
                                </tr>

                                <tr style="border: 1px solid black;">
                                    <td style=" padding-left: 10px; padding-right: 10px; border: 1px solid black;">
                                        VÍDEO<br>

                                        Coordenação:

                                    </td>
                                    <td style=" padding-left: 10px; padding-right: 10px;  border: 1px solid black;">
                                        - Lives dos programas externos - Live começando mais cedo que o normal <br>-
                                        Cinegrafistas para entradas dos repórteres do lado de fora do estúdio <br> -
                                        Cortes
                                        melhores para programação
                                    </td>
                                    <td
                                        style=" padding-left: 10px; padding-right: 10px; text-align: center; border: 1px solid black;">

                                    </td>

                                    <td
                                        style=" padding-left: 10px; padding-right: 10px; text-align: center; border: 1px solid black;">
                                        Armando vai colocar
                                    </td>

                                    <td
                                        style=" padding-left: 10px; padding-right: 10px; text-align: center; border: 1px solid black;">

                                    </td>

                                    <td
                                        style=" padding-left: 10px; padding-right: 10px; text-align: center; border: 1px solid black;">

                                    </td>
                                </tr>

                                <tr style="border: 1px solid black;">
                                    <td style=" padding-left: 10px; padding-right: 10px; border: 1px solid black;">
                                        TÉCNICA<br>

                                        Coordenação:

                                    </td>
                                    <td style=" padding-left: 10px; padding-right: 10px;  border: 1px solid black;">

                                    </td>
                                    <td
                                        style=" padding-left: 10px; padding-right: 10px; text-align: center; border: 1px solid black;">

                                    </td>

                                    <td
                                        style=" padding-left: 10px; padding-right: 10px; text-align: center; border: 1px solid black;">

                                    </td>

                                    <td
                                        style=" padding-left: 10px; padding-right: 10px; text-align: center; border: 1px solid black;">

                                    </td>

                                    <td
                                        style=" padding-left: 10px; padding-right: 10px; text-align: center; border: 1px solid black;">

                                    </td>
                                </tr>

                                <tr style="border: 1px solid black;">
                                    <td style=" padding-left: 10px; padding-right: 10px; border: 1px solid black;">
                                        SAT<br>

                                        Coordenação:
                                    </td>
                                    <td style=" padding-left: 10px; padding-right: 10px;  border: 1px solid black;">

                                    </td>
                                    <td
                                        style=" padding-left: 10px; padding-right: 10px; text-align: center; border: 1px solid black;">

                                    </td>

                                    <td
                                        style=" padding-left: 10px; padding-right: 10px; text-align: center; border: 1px solid black;">

                                    </td>

                                    <td
                                        style=" padding-left: 10px; padding-right: 10px; text-align: center; border: 1px solid black;">

                                    </td>

                                    <td
                                        style=" padding-left: 10px; padding-right: 10px; text-align: center; border: 1px solid black;">

                                    </td>
                                </tr>

                                <tr style="border: 1px solid black;">
                                    <td style=" padding-left: 10px; padding-right: 10px; border: 1px solid black;">
                                        MARKETING<br>

                                        Coordenação: <br>
                                        Luiza Segatto
                                    </td>
                                    <td style=" padding-left: 10px; padding-right: 10px;  border: 1px solid black;">
                                        Vídeos institucionais
                                    </td>
                                    <td
                                        style=" padding-left: 10px; padding-right: 10px; text-align: center; border: 1px solid black;">

                                    </td>

                                    <td
                                        style=" padding-left: 10px; padding-right: 10px; text-align: center; border: 1px solid black;">
                                        Colocar o que tem relação, interface
                                    </td>

                                    <td
                                        style=" padding-left: 10px; padding-right: 10px; text-align: center; border: 1px solid black;">

                                    </td>

                                    <td
                                        style=" padding-left: 10px; padding-right: 10px; text-align: center; border: 1px solid black;">

                                    </td>
                                </tr>

                                <tr style="border: 1px solid black;">
                                    <td style=" padding-left: 10px; padding-right: 10px; border: 1px solid black;">
                                        PRODUTOS<br>

                                        Coordenação: <br>
                                        Fernanda Paes </td>
                                    <td style=" padding-left: 10px; padding-right: 10px;  border: 1px solid black;">
                                        Evento, além de institucional, vai contar com Patrocínio.
                                    </td>
                                    <td
                                        style=" padding-left: 10px; padding-right: 10px; text-align: center; border: 1px solid black;">

                                    </td>

                                    <td
                                        style=" padding-left: 10px; padding-right: 10px; text-align: center; border: 1px solid black;">

                                    </td>

                                    <td
                                        style=" padding-left: 10px; padding-right: 10px; text-align: center; border: 1px solid black;">
                                        Temos entrega que não seja via breaks¿
                                    </td>

                                    <td
                                        style=" padding-left: 10px; padding-right: 10px; text-align: center; border: 1px solid black;">

                                    </td>
                                </tr>

                                <tr style="border: 1px solid black;">
                                    <td style=" padding-left: 10px; padding-right: 10px; border: 1px solid black;">
                                        SECRETARIA REDAÇÃO<br>

                                        Cida Quintão </td>
                                    <td style=" padding-left: 10px; padding-right: 10px;  border: 1px solid black;">
                                        Credenciamentos
                                    </td>
                                    <td
                                        style=" padding-left: 10px; padding-right: 10px; text-align: center; border: 1px solid black;">

                                    </td>

                                    <td
                                        style=" padding-left: 10px; padding-right: 10px; text-align: center; border: 1px solid black;">

                                    </td>

                                    <td
                                        style=" padding-left: 10px; padding-right: 10px; text-align: center; border: 1px solid black;">
                                        Já adiantar a partir das escalas todas as necessidades de credenciamento
                                    </td>

                                    <td
                                        style=" padding-left: 10px; padding-right: 10px; text-align: center; border: 1px solid black;">

                                    </td>
                                </tr>

                            </table>

                        </font>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<button id="generatePdfButton" class="btn btn-danger">Gerar PDF</button>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript"
    src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.21/af-2.3.5/b-1.6.3/b-colvis-1.6.3/b-flash-1.6.3/b-html5-1.6.3/b-print-1.6.3/cr-1.5.2/fc-3.3.1/fh-3.1.7/kt-2.5.2/r-2.2.5/rg-1.1.2/rr-1.2.7/sc-2.0.2/sp-1.1.1/sl-1.3.1/datatables.min.js"></script>

{{!-- Script para a 2 linha da tabela (pesquisa) --}}
<script type="text/javascript" language="javascript"
    src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript"
    src="https://cdn.datatables.net/fixedheader/3.2.3/js/dataTables.fixedHeader.min.js"></script>

<script>
    // Função para gerar o PDF
    document.getElementById('generatePdfButton').addEventListener('click', async () => {
        const divHTML = document.getElementById('divpdf').innerHTML;

        // Repassa os dados ao servidor
        const response = await fetch('/links/consultas/lista_pdf', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                layoutpdf: divHTML
            })
        });

        // Armazena o BLOB e repassa à URL
        const pdfBlob = await response.blob();
        const url = window.URL.createObjectURL(pdfBlob);

        // Abre o PDF em uma aba secundária
        window.open(url, '_blank');

        // Redireciona o gestor ao profile
        window.location.href = '/profile';
    });
</script>

<script>
    $('#table').DataTable({
        //Agrupa os resultados
        // rowGroup:
        // {
        // dataSrc: 'group'
        // },
        //permite a seleção de itens da tabela precionando o ctr mais a linha desejada
        select: true,
        //Habilita ou Desabilita a paginação da pagina
        paging: false,
        //Habilita a rolagem da tabela e tipo o tamanho da tela para rolagem pode colocar entre 100 a 400 que fica ok
        //Use esse ou o Paging para listar os itens
        scrollY: 370,
        "scrollCollapse": true,
        "scrollX": true,
        //desabilita a pesquisa diretamente na pagina
        searching: false,
        //habilita ou desabilita a ordenação das informações
        ordering: true,

        //aqui estou traduzindo alguns campos da planilha para portugues
        language: {
            "sEmptyTable": "Nenhum registro encontrado",
            "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
            "sInfoFiltered": "(Filtrados de _MAX_ registros)",
            "sInfoPostFix": "",
            "sInfoThousands": ".",
            "sLengthMenu": "_MENU_ resultados por página",
            "sLoadingRecords": "Carregando...",
            "sProcessing": "Processando...",
            "sZeroRecords": "Nenhum registro encontrado",
            "sSearch": "Pesquisar",
            "oPaginate": {
                "sNext": "Próximo",
                "sPrevious": "Anterior",
                "sFirst": "Primeiro",
                "sLast": "Último"
            },
            "oAria": {
                "sSortAscending": ": Ordenar colunas de forma ascendente",
                "sSortDescending": ": Ordenar colunas de forma descendente"
            },
            "select": {
                "rows": {
                    "_": "Selecionado %d linhas",
                    "0": "Nenhuma linha selecionada",
                    "1": "Selecionado 1 linha"
                }
            },
            "buttons": {
                "copy": "Copiar para a área de transferência",
                "copyTitle": "Cópia bem sucedida",
                "copySuccess": {
                    "1": "Uma linha copiada com sucesso",
                    "_": "%d linhas copiadas com sucesso"
                }
            }
        },
        //Adicionando botões
        buttons: [
            //comando para gerar os botões de selecionar todos e descelecionar
            // 'selectAll',
            // 'selectNone',
            //Botões para seleção das celulas
            // 'selectRows',
            // 'selectColumns',
            // 'selectCells',

            {
                //Gera uma collection para agrupar todos os botões em um unico local
                extend: 'collection',
                text: '<span class="material-icons">archive</span>',
                //define os botões que serão agrupados
                buttons: [

                    //copia da tabela exibida para a area de transferencia
                    {
                        extend: 'copy',
                        text: 'Copiar',
                        title: 'Resultado da consulta',
                        exportOptions: {
                            columns: ':visible'
                        },
                        key: {
                            key: 'c',
                            altkey: true
                        }
                    },
                    //gera o arquivo no formato xlsx
                    {
                        extend: 'excel',
                        text: 'Excel',
                        title: 'Resultado da consulta',
                        key: {
                            key: 'e',
                            altkey: true
                        }
                    },
                    {
                        //gera um arquivo csv
                        extend: 'csv',
                        //inseri atributos do botão https://datatables.net/reference/option/buttons.buttons.attr
                        attr:
                        {
                            id: 'csv',
                            role: 'tooltip'
                        },
                        //Altero o texto e formato a primeira letra para maiuscula
                        text: 'CSV',
                        //Modifico o titulo da impressão
                        title: 'Resultado da consulta',
                        //opção para imprimir somente o que estiver visivel na planilha conciliado com o parametro colvis
                        exportOptions: {
                            columns: ':visible'
                        },
                        key: {
                            key: 'I',
                            altkey: true
                        }
                    },
                    //gera o pdf da tabela para impressão
                    {
                        extend: 'pdf',
                        text: 'PDF',
                        title: 'Resultado da consulta',
                        orientation: 'landscape',
                        key: {
                            key: 'p',
                            altkey: true
                        }
                    },
                    //Exporta a cosnulta em formato Json
                    {
                        text: 'JSON',
                        action: function (e, dt, button, config) {
                            var data = dt.buttons.exportData();

                            $.fn.dataTable.fileSave(
                                new Blob([JSON.stringify(data)]),
                                'Export.json'
                            );
                        }
                    }
                ],
                dropup: true
            },
            //botão para imprimir a tabela toda, formato abaixo e para traduzir os botões
            {
                //informa que vamos extender de um botão conhecido
                extend: 'print',
                //inseri atributos do botão https://datatables.net/reference/option/buttons.buttons.attr
                attr:
                {
                    id: 'print',
                    role: 'tooltip'
                },
                //Altero o texto e formato a primeira letra para maiuscula
                text: '<span class="material-icons">print</span>',
                //Modifico o titulo da impressão
                title: 'Resultado da consulta',
                //opção para imprimir somente o que estiver visivel na planilha conciliado com o parametro colvis
                exportOptions: {
                    columns: ':visible'
                },
                key: {
                    key: 'I',
                    altkey: true
                }
            },
            //usado para selecionar quais campos serão exibidos ou não na tabela
            {
                extend: 'colvis',
                text: '<span class="material-icons">view_module</span>',
                title: 'Resultado da consulta',
                key: {
                    key: 'c',
                    altkey: true
                }
            }
            //define a exibição das colunas https://datatables.net/reference/button/columnToggle melhor usar o colvis
            // {
            // extend: 'columnToggle',
            // columns: 1
            // }
        ],
        //resosividade da tela (+)
        responsive: false,
        columnDefs: [{
            targets: 0,
            visible: false
        }],
        //complemento da configuração dos botões
        dom: 'Bfrtip',

        orderCellsTop: true,
        fixedHeader: true,
        // fim da table
    });

    // Função para repassar a data dos inputs para a escala
    const aux = document.querySelectorAll('[class="datas"]')
    document.getElementById('datepdf').value = aux[0].value

    aux.forEach((e) => {
        const elArray = document.querySelectorAll(`[class="${e.value}"]`)
        console.log(elArray)

        // exibe as datas no DOM
        elArray.forEach((element) => {
            document.getElementById(e.value).appendChild(element)
        })
    });
</script>