<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    .center {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  </style>
</head>

<body>
  <div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>

    {{#if user}}

    {{!-- ================= ADMIN 0 ================= --}}
    {{#if isAdmin0}}
    <a href="/links/editar/editar_eventosIncompletos">Consultar Evento</a>
    <li class="dropdown">
      <a href="#works" class="dropdown-toggle" data-toggle="dropdown">Planejamento<span class="caret"></span></a>
      <ul class="dropdown-menu " role="menu">
        <a href="/links/consultas/lista_eventos">Cadastrar Planejamento</a>
        <a href="/links/consultas/consulta_planejamento">Consultar Planejamento</a>
      </ul>
    </li>
    {{/if}}

    {{!-- ================= ADMIN 1 ================= --}}
    {{#if isAdmin1}}
    {{!-- <li class="dropdown">
      <a href="#works" class="dropdown-toggle" data-toggle="dropdown">Cadastros<span class="caret"></span></a>
      <ul class="dropdown-menu " role="menu">
        <a href="/links/cadastros/cadastro_evento">Cadastrar Evento</a>
        <a href="/links/cadastros/cadastro_setor">Cadastrar Setor</a>
        <a href="/links/cadastros/cadastro_programa">Cadastrar Programa</a>
        <a href="/links/cadastros/cadastro_origem">Cadastrar Origem</a>
        <a href="/links/cadastros/cadastro_funcionario">Cadastrar Funcionário</a>
        <a href="/links/consultas/consulta_eventosIncompletos">Cadastrar Copiados</a>
        <a href="/links/consultas/lista_eventos">Cadastrar Planejamento</a>
      </ul>
    </li> --}}

    <a href="/links/consultas/lista_eventos">Cadastrar Planejamento</a>

    <li class="dropdown">
      <a href="#works" class="dropdown-toggle" data-toggle="dropdown">Consultas/Edições<span class="caret"></span></a>
      <ul class="dropdown-menu " role="menu">
        {{!-- <a href="/links/consultas/consulta_setor">Setores</a>
        <a href="/links/consultas/consulta_programa">Programas</a>
        <a href="/links/consultas/consulta_origem">Origens</a>
        <a href="/links/consultas/consulta_funcionario">Funcionário</a> 
        <a href="/links/editar/editar_eventosIncompletos">Evento</a> --}}
        <a href="/links/consultas/consulta_planejamento">Planejamento</a>
      </ul>
    </li>

    <a href="/links/consultas/consulta_finalizados">Eventos Finalizados</a>
    {{!-- <a href="/signup">Cadastrar Usuário</a> --}}
    {{/if}}

    {{!-- ================= ADMIN 2 ================= --}}
    {{#if isAdmin2}}
    <li class="dropdown">
      <a href="#works" class="dropdown-toggle" data-toggle="dropdown">Cadastros<span class="caret"></span></a>
      <ul class="dropdown-menu " role="menu">
        <a href="/links/cadastros/cadastro_evento">Cadastrar Evento</a>
        <a href="/links/cadastros/cadastro_setor">Cadastrar Setor</a>
        <a href="/links/cadastros/cadastro_programa">Cadastrar Programa </a>
        <a href="/links/cadastros/cadastro_origem">Cadastrar Origem</a>
        <a href="/links/cadastros/cadastro_funcionario">Cadastrar Funcionário</a>
        <a href="/links/consultas/consulta_eventosIncompletos">Cadastrar Copiados</a>
        <a href="/links/consultas/lista_eventos">Cadastrar Planejamento</a>
      </ul>
    </li>

    <li class="dropdown">
      <a href="#works" class="dropdown-toggle" data-toggle="dropdown">Consultas/Edições<span class="caret"></span></a>
      <ul class="dropdown-menu " role="menu">
        <a href="/links/consultas/consulta_setor">Setores</a>
        <a href="/links/consultas/consulta_programa">Programas</a>
        <a href="/links/consultas/consulta_origem">Origens</a>
        <a href="/links/consultas/consulta_funcionario">Funcionário</a>
        <a href="/links/editar/editar_eventosIncompletos">Evento</a>
        <a href="/links/consultas/consulta_planejamento">Planejamento</a>
      </ul>
    </li>

    <a href="/links/consultas/consulta_finalizados">Eventos Finalizados</a>
    <a href="/signup">Cadastrar Usuário</a>
    {{/if}}

    <a href="/links/consultas/consulta_relatorio">Gerar Relatório</a>
    <a href="/logout">Sair</a>
    {{/if}}
  </div>
  </div>

  <!--
  <li class="dropdown">
    <a href="#works" class="dropdown-toggle" data-toggle="dropdown">PDF<span class="caret"></span></a>
    <ul class="dropdown-menu " role="menu">
      <a href="/links/consultas/lista_saida">Gerar Relatório</a>
    </ul>
  </li>
  -->

  <div id="main">
    <button class="openbtn" onclick="openNav()">☰</button>
    <a href="/"><img src="/img/lg1.png" alt="Logo da rádio Itatiaia" width="250px" class=""></a>
  </div>

  <script>
    function openNav() {
      document.getElementById("mySidebar").style.width = "300px";
      document.getElementById("main").style.marginLeft = "300px";
      //document.getElementById("logoContainer").style.marginLeft = "300px"; // Move a imagem junto com o menu
    }

    function closeNav() {
      document.getElementById("mySidebar").style.width = "0";
      document.getElementById("main").style.marginLeft = "0";
      //document.getElementById("logoContainer").style.marginLeft = "0"; // Move a imagem junto com o menu
    }
  </script>

</body>

</html>