<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

<body>
  <form action="/links/cadastros/cadastro_cargo" method="POST">

    <div class="grupoGap48pxDesktopCadastro">

      <div class="grupoGap40px">
        <div class="grupoGap24px">

          <div class="grupoGap8pxDesktop">
            <p for="fullname" class="textoInputPadraoDesktop"> Posição/ Cargo </p>
            <input type="text" name="nome" id="nome" class="inputPadraoDesktop" autofocus required>
          </div>

        <button class="botaoPadraoDesktop" onclick="valida()"> Cadastrar </button>

      </div>
  </form>

</body>
<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script>
  function valida() {
    const full = document.getElementById('contrato');    

    if (full.value == "") {
      alert("O campo Posição/ Cargo não pode estar vazio.");
      full.focus();
      return false;
    };
    
  }
</script>