<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Script para Bloquear Escolha de Data</title>
</head>

<body>
    <form action="/links/cadastros/clonar_escala" method="POST">
        <div class="grupoGap48pxDesktopCadastro">
            <div class="grupoGap40px">
                <div class="grupoGap24px">
                    <div class="grupoGap8pxDesktop ">
                        <label for="validationDefault02" class="textoInputPadraoDesktop">De:
                            <font color="red">* <label id="cpobgtigatorio2" hidden>Campo Obrigatório</label>
                            </font>
                        </label>
                        <input type="date" class="inputPadraoDesktop" id="dt_start" name="dt_start"
                            placeholder="dt_escala" aria-label="dt_escala" aria-describedby="basic-addon1" required>

                        <label for="validationDefault02" class="textoInputPadraoDesktop">Para:
                            <font color="red">* <label id="cpobgtigatorio2" hidden>Campo Obrigatório</label>
                            </font>
                        </label>
                        <input type="date" class="inputPadraoDesktop" id="dt_end" name="dt_end" placeholder="dt_escala"
                            aria-label="dt_escala" aria-describedby="basic-addon1" required>
                    </div>

                    <button class="botaoPadraoDesktopEntrar" id="submit">
                        Duplicar Escala
                    </button>
                </div>
            </div>
        </div>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#submit').click(function (event) {
                var dtStart = $('#dt_start').val();
                var dtEnd = $('#dt_end').val();

                if (dtStart === dtEnd) {
                    event.preventDefault(); // Previne o envio do formulário
                    alert('Por favor, selecione uma data diferente da data a ser clonada.');
                }
            });
        });
    </script>
</body>

</html>